<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category</title>
</head>
<body>
    <a href="{% url 'homepage' %}"> Homepage </a>
    <br>
    <p1> {{category.name}} </p1>
    <br>
    <img src="{{category.image}}" width="100px">
    <br>
    {% for todo in todos %}
        Title: {{todo.title}} <br>
        Detail: {{todo.details}}<br>
        Deadline: {{todo.deadline_date}}<br>

        {% if todo.has_been_done %}
            Date complete: {{todo.date_completion}} <br>
        {% else %}
            <form method="post" action="{%url 'todo_done' todo.id%}">
            {% csrf_token %}
            <button type="submit"> Done ? </button>
            </form>
        {% endif %}
        <br><br>

    {% endfor %}


</body>
</html>